# Ignore CSV files in the 'product' folder
product/**/*.csv

# Ignore tft.json files in the 'json' folder
#json/tft.json

# Ignore .log files everywhere
*.log

# Ignore extensions
*.pyc
*.json
*.zip
*.json
*.csv
Dump*.sql

**/*checkpoint.ipynb
notepad/.ipynb_checkponts/notepad-checkpoint.ipynb
